@media ( orientation : portrait ) {
    body {
        display : block;
        transform : translateY(100vh) rotate(-90deg);
        transform : translateY(calc(var(--vh, 1vh) * 100)) rotate(-90deg);
        transform-origin : top left;
        width : 100vh;
        width: calc(var(--vh, 1vh) * 100);
        height : 100vw;
        height: calc(var(--vw, 1vw) * 100);
        overflow-y : hidden;
    }
}

@media all and (max-width: 1366px) and (orientation: landscape) {
    /* 480px 이하이면서 가로모드일때의 css 적용 */
    .mobile_chat .mobile_chatList h1{
        /*width:339px; 8/
        /*height:94px;*/
        /*padding-top:30px;*/
    }
    .mobile_chat .mobile_chatList .m_ChList {
        width: 339px; height: 844px;
    }
    .mobile_chat .mobile_chatBox h1 {
        /* background-color: red; */
        width: 100%; height: 70px;
        padding-top: 40px; padding-left:30px;
    }
    .mobile_chat .mobile_chatBox {
        width:100%; height: 748px;
        /* background-color: aqua; */
    }
    .mobile_chat .mobile_chatBox .mochTxt {
        width:100%; height: 748px;
    }
    .mobile_chat .mobile_chatting #mobile_ChatFrm fieldset #mobileChatting {
        width:100%; height: 50px;
    }
    .mobile_chat .mobile_chatting #mobile_ChatFrm fieldset #mchat_send {
        bottom: 19px; right: 25px;
    }
}
@media all and (max-width: 1200px) and (orientation: landscape) {
    .mobile_chat .mobile_chatting #mobile_ChatFrm fieldset #mobileChatting {
        width:100%; height: 50px;
    }
}
@media all and (max-width: 1100px) and (orientation: landscape) {
    .mobile_chat .mobile_chatting #mobile_ChatFrm fieldset #mobileChatting {
        width:100%; height: 50px;
    }
}