

.infoBox {
	max-width: 350px;
    display: flex;
    padding: 16px 26px;
    /* border: 1px solid #000; */
    border-radius: 8px;
    background-color: #fff;
	
	position: absolute;
	transform: translate(-50%, -100%);
	flex-direction: column;
    left: 50%;
    top: 50%;

    margin-top: 50px;

	justify-content: center;
    min-width: 100px;
	overflow: hidden;
    z-index: 99999;
}

.infoBox .infoBox_text {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	/* text-align: center; */
	vertical-align: bottom;
	line-height: 2;
}

.infoBox .infoBox_text span{
	display: block;
	font-size: 14px;
	font-weight: 400;
}




.checkbuttonbox {
	padding-top: 10px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.checkbuttonbox .checkbutton {
	display: inline-flex;
	position: relative;
	flex-wrap: wrap;
	height: 40px;
	border-radius: 8px;
	background-color: rgba(251, 140, 0, 1);
	flex: 1;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	outline: none;
	line-height: 1!important;
	white-space: nowrap;
}

.checkbuttonbox .checkbutton span {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	justify-content: center;
	color: #fff;
}

.checkbuttonbox .checkbutton:hover {
	background-color: rgba(221, 110, 0, 1);
}


#updatebox {
    display: none;
}

#infobox {
	display: none;
}