@charset "UTF-8";
/* CSS Document */

/* Path: _layout/mobile/css/seum_layout.css */

/* layout css 입니다. */


/* asmo sh 231113 웹폰트 및 서버에서 폰트 불러오기 */

@import url('https://webfontworld.github.io/NexonLv2Gothic/NexonLv2Gothic.css');

@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.ttf') format("truetype");
    font-display: swap;
}


@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./font/NEXON_Lv2_Gothic_otf.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./font/NEXON_Lv2_Gothic_Medium_otf.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./font/NEXON_Lv2_Gothic_Bold_otf.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}


/* reset */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%; font-family: 'NexonLv2Gothic', sans-serif; font-size: 62.5%; letter-spacing: -0.01em; color: #222222; }
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none; color: #222222;}
a:hover {text-decoration:none; color: #222222;}
a:focus {outline:none !important; text-decoration:none;}
a:active {outline:none !important; text-decoration:none;}
a > * {line-height: normal;}
table {border-collapse:collapse;border-spacing:0}
em {font-weight: 700;}
body, th, td, input, select, textarea, button { font-family: 'NexonLv2Gothic','Nanum Gothic',나눔고딕,NanumGothic,돋움,Dotum,Arial,Helvetica,sans-serif; color: #222; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: inherit; margin:0; font-weight: 700;}

p {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.dn {
    display: none !important;
}

input[type=password] {
    font-family: sans-serif;
}

input[type=password]::placeholder {
    font-family: 'NexonLv2Gothic', sans-serif;
}


.main {
    width: 100%;
    padding: 0;
}


.main.asmo_m_layout {
    padding-top: 40px;
}

/* body {
    display : block;
    transform : translateY(100vh) rotate(-90deg);
    transform : translateY(calc(var(--vh, 1vh) * 100)) rotate(-90deg);
    transform-origin : top left;
    width : 100vh;
    width: calc(var(--vh, 1vh) * 100);
    height : 100vw;
    height: calc(var(--vw, 1vw) * 100);
    overflow-y : hidden;
} */


/* @media ( orientation : portrait ) {
    body {
        display : block;
        transform : translateY(100vh) rotate(-90deg);
        transform : translateY(calc(var(--vh, 1vh) * 100)) rotate(-90deg);
        transform-origin : top left;
        width : 100vh;
        width: calc(var(--vh, 1vh) * 100);
        height : 100vw;
        height: calc(var(--vw, 1vw) * 100);
        overflow-y : hidden;
    }
} */


#layer_dim {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #22222266;
    left: 0;
    top: 0;
    z-index: 99;
}

/* *** --------- 상단 네비게이션 바 --------- *** */

.asmo_login_complete  .main {

}



.navbar {
    height: 40px;
    line-height: normal;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: none;
    z-index: 99;
    -webkit-backdrop-filter: blur(10px) brightness(0.8);
    backdrop-filter: blur(10px) brightness(0.8);
}

.navbar::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background:rgba(34,34,34,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}



.nav_bar_left,
.nav_bar_right,
.asmo_nav_info,
.asmo_nav_money_wrap ul {
    display: flex;
}

.nav_bar_left .asmo_nav_logo {
    position: relative;
    padding: 6px 15px;
    z-index: 1;
}

.nav_bar_left .asmo_nav_logo::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(255,255,255,0.8);
}


.asmo_nav_info {
    background: rgba(34, 34, 34, 0.67);
    gap: 8px;
    align-items: center;
    width: 180px;
    padding:  0 0 0 14px;
}

.asmo_nav_info > p {
    width: 32px;
    height: 32px;
    background: #f6f6f6;
    border-radius: 50%;

    overflow: hidden;
}


.asmo_nav_info .asmo_nav_info_txt {
    width: calc(100% - 40px);
}


.asmo_nav_info .asmo_small_profile img {
    width: 32px;
    border-radius: 100%;

    
    height: 32px;
    transform: scale(1.5);
    position: relative;
    top: 7px;
}

.asmo_nav_info .asmo_nav_info_txt p:first-child {
    margin: 0 0 3px;
    line-height: 1;
    font-size: 0;
}

.asmo_nav_info .asmo_nav_info_txt p:first-child span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    max-width: 61px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.asmo_nav_info .asmo_nav_info_txt p:first-child em {
    font-size: 1.2rem;
    color: #FB8C00;
    font-weight: 500;
    padding: 0 0 0 4px;
    max-width: calc(100% - 65px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.asmo_nav_info .asmo_nav_info_txt p:last-child {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    line-height: 1;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.asmo_nav_money_wrap ul {
    align-items: center;
    gap: 14px;
    padding: 6px 0 0 24px;
}

.asmo_nav_money_wrap ul li {
    width: 82px;
    border: 0.5px solid rgba(251, 140, 0, 1);
    border-radius: 5px;
    box-shadow: 2px 3px 10px rgba(251, 140, 0, 0.08);
    background-color: rgba(34, 34, 34, 0.5);
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-size: 1.2rem;
    padding: 0 10px 0 6px;
    text-align: right;
}


.asmo_nav_money_wrap ul li.fruit {
    background-image: url(../images/fruit.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    background-size: 24px;
}

.asmo_nav_money_wrap ul li.seed {
    background-image: url(../images/seed.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    background-size: 24px;
}

.asmo_nav_money_wrap ul li.rank {
    background-image: url(../images/rank.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    background-size: 24px;
}


/* 퀘스트 버튼 */
#asmo_nav_quset_btn {
    width: 40px;
    height: 40px;
    background: rgba(34, 34, 34, 0.67) url(../images/quest_icon.svg) no-repeat center center;
    margin: 0 2px 0 0;
}

/* 1:1채팅 */
#asmo_nav_qa_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    background: rgba(34, 34, 34, 0.67);
}

#asmo_nav_qa_btn span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/chat.svg) no-repeat 0 0;
}





/* 로그아웃 버튼 */

.nav_bar_right {
    position: relative;
}

#asmo_nav_logout {
    width: 40px;
    height: 40px;
    background: url(../images/dots.svg) no-repeat center center;
}

#asmo_nav_logout + p {
    position: absolute;
    width: 112px;
    border-radius: 0 0 0 5px;
    top: 40px;
    right: 0;
    display: none;
    min-height: 30px;
}

#asmo_nav_logout + p a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}

#asmo_nav_logout + p::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;border-radius: 0 0 0 5px;
    background: rgba(34,34,34,0.5);
    width: 100%;
    height: 100%;
}

#asmo_nav_logout + p a span {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 0 0 0 20px;
    background: url(../images/logout.svg) no-repeat left center;
    line-height: 30px;
}

#asmo_nav_logout + p a.asmo_admin_menu span  {
    background: url(../images/admin_icon.svg) no-repeat left center;
}

#asmo_nav_logout.active + p {
    display: block;
}


/* *** 하단 픽스바 *** */
#asmo_fixed_bar {
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    -webkit-backdrop-filter: blur(10px) brightness(0.8);
    backdrop-filter: blur(10px) brightness(0.8);
}

#asmo_fixed_bar ul {
    width: 100%;
    display: flex;
    height: 45px;
}

#asmo_fixed_bar ul li {
    width: 25%;
}


 

#asmo_fixed_bar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.65);
    text-align: center;
}

#asmo_fixed_bar ul li.active a {
    background: rgba(251, 140, 0, 0.65);
}  

#asmo_fixed_bar ul li a span {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 45px;
    padding: 0 0 0 34px;
    background: url(../images/company_icon_w.svg) no-repeat left center;
}

.forM  {
    display: none !important;
}

#asmo_fixed_bar ul li.asmo_q_my a {
    background: rgba(34, 34, 34, 0.7);
}

#asmo_fixed_bar ul li.asmo_q_my.active a {
    background: rgba(251, 140, 0, 0.7);
}


#asmo_fixed_bar ul li.asmo_q_my a span {
    background: url(../images/myland_icon_w.svg) no-repeat left center;
}

#asmo_fixed_bar ul li.asmo_q_class a {
    background: rgba(34, 34, 34, 0.75);
}

#asmo_fixed_bar ul li.asmo_q_class.active a {
    background: rgba(251, 140, 0, 0.75);
}

#asmo_fixed_bar ul li.asmo_q_class a span {
    background: url(../images/class_icon_w.svg) no-repeat left center;
}

#asmo_fixed_bar ul li.asmo_q_shop a {
    background: rgba(34, 34, 34, 0.8);
}

#asmo_fixed_bar ul li.asmo_q_shop.active a {
    background: rgba(251, 140, 0, 0.8);
}


#asmo_fixed_bar ul li.asmo_q_shop a span {
    background: url(../images/shop_icon_w.svg) no-repeat left center;
}



/* *** ------------ 푸터 ------------ *** */

footer {
    margin-top: 60px;
    background: none;
    border: 0;
    padding: 11px 13.671875% 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.asmo_ft_logo_wrap {
    padding: 0 0 0 24px;
}

.asmo_ft_container {
    padding: 0 20px 0 0;
}


footer .company li {
    float: none;
    padding: 5px 0;
    line-height: normal;
}

footer .company li,
footer .company li span {
    font-size: 1.2rem;
    font-weight: normal;
    color: #222;
}

footer .company li b {
    font-weight: bold;
    padding: 0 0 0 8px;
}

footer .company li span {
    padding: 0 0 0 8px;
}


/* *** 클래스룸 전용 상단 메뉴 *** */

#asmo_class_nav {
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0;
    box-shadow: 0px 3px 20px #00A8FA14;
    background: #222;
    z-index: 9;
}

#asmo_class_nav .dropdown-menu {
    display: none;
}


#asmo_class_nav li a#asmo_all_menu {
    display: block;
    padding: 13px 13px 13px 20px;
    background: url("data:image/svg+xml,%3Csvg id='hamburger_icon' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Crect id='사각형_1490' data-name='사각형 1490' width='16' height='16' fill='none'/%3E%3Cline id='선_4' data-name='선 4' x2='10' transform='translate(3 4)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='선_5' data-name='선 5' x2='10' transform='translate(3 8)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='선_6' data-name='선 6' x2='10' transform='translate(3 12)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3C/svg%3E%0A") no-repeat left center;
}

#asmo_class_nav > ul {
    display: flex;
    padding: 0 13.671875%;
    position: relative;
}

#asmo_class_nav > ul > li {
    
}

#asmo_class_nav > ul > li > a {
    font-size: 1.4rem;
    color: #fff;
    padding: 13px 24px;
}

#asmo_class_nav li a {
    font-weight: 500;
    display: block;
    color: rgba(255,255,255,0.8);
    font-weight: normal;
    line-height: 1;
}


#asmo_class_nav .dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: rgba(34, 34, 34, 0.8);
    box-shadow: 2px 3px 20px #FB8C0014;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: auto;
    border-top: 1px solid rgba(255,255,255,0.5);
}


#asmo_class_nav .dropdown-menu.active {
    display: block;
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu {
    padding: 20px 13.671875% 33px;
    display: flex;
    display: none;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu.active {
    display: flex;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li {
    padding: 0 50px;
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:first-child {
    padding: 0;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:nth-child(2) {
    position: relative;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:nth-child(2)::before {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 20px);
    top: 20px;
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:nth-child(2)::after {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 20px);
    top: 20px;
    right: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
}



#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li > span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #FB8C00;
    display: block;
    line-height: 1;
    margin: 0 0 13px;
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li a {
    padding: 7px 0;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu .asmo_all_menu_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 246px;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu .asmo_all_menu_wrap li {
    width: 50%;
}


/* 모바일 (아이폰 14 프로맥스 세로 사이즈 기준)*/ 
@media (max-width:932px) {

    .forM {
        display: block !important;
    }

    .forT {
        display: none !important;
    }



    /* *** 상단네비 *** */
    .asmo_nav_info {
        width: 180px;
    }

    .asmo_nav_money_wrap ul {
        padding-left: 14px;
        gap: 10px;
    }

    #asmo_nav_qa_btn {
        padding: 0 12px;
    }


    /* *** 푸터 *** */
    footer {
        margin-top: 40px;
        padding: 11px 14px 96px;
    }


    /* *** 클래스룸 공통 카테고리 네비게이션바  *** */  
    #asmo_class_nav > ul {
        padding: 0 14px;
    }

}