@charset "UTF-8";
/* CSS Document */

/* Path: _layout/mobile/css/seum_layout.css */

/* layout css 입니다. */


/* asmo sh 231113 웹폰트 및 서버에서 폰트 불러오기 */

@import url('https://webfontworld.github.io/NexonLv2Gothic/NexonLv2Gothic.css');

@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicRegular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonLv2Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NexonLv2Gothic/NexonLv2GothicBold.ttf') format("truetype");
    font-display: swap;
}


@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./font/NEXON_Lv2_Gothic_otf.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./font/NEXON_Lv2_Gothic_Medium_otf.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./font/NEXON_Lv2_Gothic_Bold_otf.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}


/* reset */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%; font-family: 'NexonLv2Gothic', sans-serif; font-size: 62.5%; letter-spacing: -0.02em; color: #222222; }
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none; color: #222222;}
a:hover {text-decoration:none; color: #222222;}
a:focus {outline:none !important; text-decoration:none;}
a:active {outline:none !important; text-decoration:none;}
a > * {line-height: normal;}
table {border-collapse:collapse;border-spacing:0}
em {font-weight: 700;}
body, th, td, input, select, textarea, button { font-family: 'NexonLv2Gothic','Nanum Gothic',나눔고딕,NanumGothic,돋움,Dotum,Arial,Helvetica,sans-serif; color: #222; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: inherit; margin:0; font-weight: 700;}

p {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.dn {
    display: none !important;
}

input[type=password] {
    font-family: sans-serif;
}

input[type=password]::placeholder {
    font-family: 'NexonLv2Gothic', sans-serif;
}


.main {
    width: 100%;
    padding: 0;
}


.main.asmo_m_layout {
    padding-top: 40px;
}



#layer_dim {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #22222266;
    left: 0;
    top: 0;
    z-index: 100;
}

/* *** --------- 상단 네비게이션 바 --------- *** */

.asmo_login_complete  .main {
    padding: 102px 0 0;
}



.navbar {
    height: 102px;
    background: #222;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: none;
    line-height: initial;
}


.asmo_nav_info {
    position: absolute;
    left: 2.4rem;
    bottom: -1.4rem;
}


.asmo_nav_info > p {
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    border: 2px solid #222;
}


.asmo_nav_info .asmo_small_profile img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.nav_bar_right {
    position: absolute;
    right: 2.4rem;
    bottom: 1rem;
}

#asmo_ham_btn {
    text-indent: -9999px;
    width: 2.7rem;
    height: 3.1rem;
    background: url(../images/asmo_ham.svg) no-repeat center center;
}


/* 퀘스트 버튼 */
#asmo_nav_quset_btn {
    width: 40px;
    height: 40px;
    background: rgba(34, 34, 34, 0.67) url(../images/quest_icon.svg) no-repeat center center;
    margin: 0 2px 0 0;
}



/* *** 하단 픽스바 *** */

.forM  {
    display: none !important;
}

#asmo_fixed_bar {
    background: #222;
    width: calc(100% - 58px);
    right: -100%;
    bottom: 0;
    position: fixed;
    height: calc(100% - 102px);
    z-index: 99;
    transition: right 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) -5px 0 20px;
}

#asmo_fixed_bar.active {
    right: 0;
}

#asmo_fixed_bar ul {
    padding: 1.4rem 0 0;
}

#asmo_fixed_bar ul li {
    position: relative;
    margin: 0 0 6px;
}


#asmo_fixed_bar ul li a {
    font-size: 1.8rem;
    color: #B4B4B4;
    font-weight: 500;
    line-height: 2.6rem;
    display: block;
    padding: 7px 0 7px 60px;
}

#asmo_fixed_bar ul li.active a {
    color: #FB8C00;
}

#asmo_fixed_bar ul li.active::before {
    content: '';
    display: block;
    width: 6px;
    height: 40px;
    background: #FB8C00;
    border-radius: 0 6px 6px 0;
    position: absolute;
    left: 0;
    top: 0;
}


/* 대쉬보드 */
#asmo_fixed_bar ul li.asmo_q_dash a {
    background: url(../images/asmo_side_dash_icon.svg) no-repeat 22px center;
}
 

#asmo_fixed_bar ul li.asmo_q_dash.active a {
    background: url(../images/asmo_side_dash_icon_on.svg) no-repeat 22px center;
}
 


/* 마이랜드 */
#asmo_fixed_bar ul li.asmo_q_my a {
    background: url(../images/asmo_side_myland_icon.svg) no-repeat 22px center;
}

#asmo_fixed_bar ul li.asmo_q_my.active a {
    background: url(../images/asmo_side_myland_icon_on.svg) no-repeat 22px center;
}


/* 기업랜드 */
#asmo_fixed_bar ul li.asmo_q_office a {
    background: url(../images/asmo_side_company_icon.svg) no-repeat 22px center;
}

#asmo_fixed_bar ul li.asmo_q_office.active a {
    background: url(../images/asmo_side_company_icon_on.svg) no-repeat 22px center;
}



/* 클래스룸 */
#asmo_fixed_bar ul li.asmo_q_class a {
    background: url(../images/asmo_side_class_icon.svg) no-repeat 22px center;
}

#asmo_fixed_bar ul li.asmo_q_class.active a {
    background: url(../images/asmo_side_class_icon_on.svg) no-repeat 22px center;
}



/* SHOP */
#asmo_fixed_bar ul li.asmo_q_shop a {
    background: url(../images/asmo_side_shop_icon.svg) no-repeat 22px center;
}

#asmo_fixed_bar ul li.asmo_q_shop.active a {
    background: url(../images/asmo_side_shop_icon_on.svg) no-repeat 22px center;
}




/* 사이드바 하단 버튼 */
.asmo_ham_bottom_menu {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}


.asmo_ham_bottom_menu li {
    text-align: center;
}

.asmo_ham_bottom_menu li a em {
    display: inline-block;
}

.asmo_ham_bottom_menu li a {
    display: inline-block;
    color: #B4B4B4;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    height: 3.4rem;
    width: 17.1rem;
    text-align: center;
    padding: 3px 0;
}



/* 이용가이드 */

.asmo_ham_bottom_menu li.asmo_go_guide a {
    background: rgba(251, 140, 0, 0.8);
    border-color: transparent;
    color: #fff;
}

.asmo_ham_bottom_menu li.asmo_go_guide a em {
    width: 23px;
    background: url(../images/asmo_faq.svg) no-repeat center center;
    vertical-align: top;
    height: 100%;
    margin: 0 1.2rem 0 0;
}

/* 로그아웃 */

.asmo_ham_bottom_menu li.asmo_logout {
    margin: 1.6rem 0 0;
}

.asmo_ham_bottom_menu li.asmo_logout a em {
    width: 14px;
    background: url(../images/asmo_logout.svg) no-repeat center center;
    vertical-align: top;
    height: 100%;
    margin: 0 2rem 0 0;
}






/* *** ------------ 푸터 ------------ *** */

footer {
    margin-top: 60px;
    background: none;
    border: 0;
    padding: 11px 13.671875% 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.asmo_ft_logo_wrap {
    padding: 0 0 0 24px;
}

.asmo_ft_container {
    padding: 0 20px 0 0;
}


footer .company li {
    float: none;
    padding: 5px 0;
    line-height: normal;
}

footer .company li,
footer .company li span {
    font-size: 1.2rem;
    font-weight: normal;
    color: #222;
}

footer .company li b {
    font-weight: bold;
    padding: 0 0 0 8px;
}

footer .company li span {
    padding: 0 0 0 8px;
}


/* *** 클래스룸 전용 상단 메뉴 *** */

#asmo_class_nav {
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0;
    box-shadow: 0px 3px 20px #00A8FA14;
    background: #222;
    z-index: 9;
}

#asmo_class_nav .dropdown-menu {
    display: none;
}


#asmo_class_nav li a#asmo_all_menu {
    display: block;
    padding: 13px 13px 13px 20px;
    background: url("data:image/svg+xml,%3Csvg id='hamburger_icon' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Crect id='사각형_1490' data-name='사각형 1490' width='16' height='16' fill='none'/%3E%3Cline id='선_4' data-name='선 4' x2='10' transform='translate(3 4)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='선_5' data-name='선 5' x2='10' transform='translate(3 8)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='선_6' data-name='선 6' x2='10' transform='translate(3 12)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3C/svg%3E%0A") no-repeat left center;
}

#asmo_class_nav > ul {
    display: flex;
    padding: 0 13.671875%;
    position: relative;
}



#asmo_class_nav > ul > li > a {
    font-size: 1.4rem;
    color: #fff;
    padding: 13px 24px;
}

#asmo_class_nav li a {
    font-weight: 500;
    display: block;
    color: rgba(255,255,255,0.8);
    font-weight: normal;
    line-height: 1;
}


#asmo_class_nav .dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: rgba(34, 34, 34, 0.8);
    box-shadow: 2px 3px 20px #FB8C0014;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: auto;
    border-top: 1px solid rgba(255,255,255,0.5);
}


#asmo_class_nav .dropdown-menu.active {
    display: block;
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu {
    padding: 20px 13.671875% 33px;
    display: flex;
    display: none;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu.active {
    display: flex;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li {
    padding: 0 50px;
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:first-child {
    padding: 0;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:nth-child(2) {
    position: relative;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:nth-child(2)::before {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 20px);
    top: 20px;
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li:nth-child(2)::after {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 20px);
    top: 20px;
    right: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
}



#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li > span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #FB8C00;
    display: block;
    line-height: 1;
    margin: 0 0 13px;
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu > li a {
    padding: 7px 0;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
}


#asmo_class_nav li a#asmo_all_menu + .dropdown-menu .asmo_all_menu_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 246px;
}

#asmo_class_nav li a#asmo_all_menu + .dropdown-menu .asmo_all_menu_wrap li {
    width: 50%;
}


/* 모바일 (아이폰 14 프로맥스 세로 사이즈 기준)*/ 
@media (max-width:932px) {

    .forM {
        display: block !important;
    }

    .forT {
        display: none !important;
    }




    /* *** 푸터 *** */
    footer {
        margin-top: 40px;
        padding: 11px 14px 96px;
    }


    /* *** 클래스룸 공통 카테고리 네비게이션바  *** */  
    #asmo_class_nav > ul {
        padding: 0 14px;
    }

}